In [31]:
raw_data = open('LabelledData.txt').read()
raw_data[0:500]

"how did serfdom develop in and then leave russia ? ,,, unknown\nwhat films featured the character popeye doyle ? ,,, what\nhow can i find a list of celebrities ' real names ? ,,, unknown\nwhat fowl grabs the spotlight after the chinese year of the monkey ? ,,, what\nwhat is the full form of .com ? ,,, what\nwhat contemptible scoundrel stole the cork from my lunch ? ,,, what\nwhat team did baseball 's st. louis browns become ? ,,, what\nwhat is the oldest profession ? ,,, what\nwhat are liver enzymes ? ,"

In [42]:
parsed_data = raw_data.replace(',,,','\n').split('\n')

In [43]:
parsed_data[0:200]

['how did serfdom develop in and then leave russia ? ',
 ' unknown',
 'what films featured the character popeye doyle ? ',
 ' what',
 "how can i find a list of celebrities ' real names ? ",
 ' unknown',
 'what fowl grabs the spotlight after the chinese year of the monkey ? ',
 ' what',
 'what is the full form of .com ? ',
 ' what',
 'what contemptible scoundrel stole the cork from my lunch ? ',
 ' what',
 "what team did baseball 's st. louis browns become ? ",
 ' what',
 'what is the oldest profession ? ',
 ' what',
 'what are liver enzymes ? ',
 ' what',
 'name the scar-faced bounty hunter of the old west . ',
 ' unknown',
 'when was ozzy osbourne born ? ',
 ' when',
 'why do heavier objects travel downhill faster ? ',
 ' unknown',
 'who was the pride of the yankees ? ',
 ' who',
 'who killed gandhi ? ',
 ' who',
 'what is considered the costliest disaster the insurance industry has ever faced ? ',
 ' what',
 'what sprawling u.s. state boasts the most airports ? ',
 ' what',
 'what did the only repealed amendment to the u.s. constitution deal with ? ',
 ' what',
 'how many jews were executed in concentration camps during wwii ? ',
 ' unknown',
 "what is `` nine inch nails '' ? ",
 ' what',
 'what is an annotated bibliography ? ',
 ' what',
 'what is the date of boxing day ? ',
 ' what',
 'what articles of clothing are tokens in monopoly ? ',
 ' what',
 'name 11 famous martyrs . ',
 ' unknown',
 "what 's the olympic motto ? ",
 ' what',
 "what is the origin of the name ` scarlett ' ? ",
 ' what',
 "what 's the second-most-used vowel in english ? ",
 ' what',
 'who was the inventor of silly putty ? ',
 ' who',
 'what is the highest waterfall in the united states ? ',
 ' what',
 'name a golf course in myrtle beach . ',
 ' unknown',
 'which two states enclose chesapeake bay ? ',
 ' unknown',
 'what does the abbreviation aids stand for ? ',
 ' what',
 'what does a spermologer collect ? ',
 ' what',
 'how many points make up a perfect fivepin bowling score ? ',
 ' unknown',
 "which company that manufactures video-game hardware sells the `` super system '' ? ",
 ' unknown',
 'how many community chest cards are there in monopoly ? ',
 ' unknown',
 'what do mormons believe ? ',
 ' what',
 'when did the neanderthal man live ? ',
 ' when',
 'in what religion was isis the nature goddess ? ',
 ' what',
 "where do the adventures of `` the swiss family robinson '' take place ? ",
 ' unknown',
 'what relative of the racoon is sometimes known as the cat-bear ? ',
 ' what',
 'how can i register my website in yahoo for free ? ',
 ' unknown',
 'what was cash-conscious colonel edwin l. drake the first to drill ? ',
 ' what',
 'how many people in the world speak french ? ',
 ' unknown',
 'how many inches over six feet is the venus de milo ? ',
 ' unknown',
 'how do they find or choose witnesses to an execution ? ',
 ' unknown',
 'what 1920s cowboy star rode tony the wonder horse ? ',
 ' what',
 'what cocktail inspired john doxat to write the book stirred-not shaken ? ',
 ' what',
 'what isps exist in the caribbean ? ',
 ' what',
 'how do you ask a total stranger out on a date ? ',
 ' unknown',
 'what weapon is the mythological character apollo most proficient with ? ',
 ' what',
 'what country do the galapagos islands belong to ? ',
 ' what',
 'what is ethology ? ',
 ' what',
 'who was the prophet of the muslim people ? ',
 ' who',
 "where did the term `` 86ed '' come from ? ",
 ' unknown',
 "who is snoopy 's arch-enemy ? ",
 ' who',
 'what is the nature of learning ? ',
 ' what',
 "what 's the only color johnny cash wears on stage ? ",
 ' what',
 "what 's the term for a young fox ? ",
 ' what',
 'what u.s. state lived under six flags ? ',
 ' what',
 'what is the kashmir issue ? ',
 ' what',
 'where is the loop ? ',
 ' unknown',
 "what does `` extended definition '' mean and how would one write a paper on it ? ",
 ' what',
 "what country 's capital is tirana ? ",
 ' what',
 'what is titanium ? ',
 ' what',
 'who do herb and tootsie live next door to ? ',
 ' who',
 'which city has the oldest relationship as a sisterï¿½city with los angeles ? ',
 ' unknown',
 'what is a caldera ? ',
 ' what',
 'why do people get calluses ? ',
 ' unknown',
 'what are the names of the tourist attractions in reims ? ',
 ' what',
 'what are cushman and wakefield known for ? ',
 ' what',
 'what body of water does the danube river flow into ? ',
 ' what',
 'who is the founder of scientology ? ',
 ' who',
 'what does the six-footed musca domestica become when it enters a house ? ',
 ' what',
 'what is the history of skateboarding ? ',
 ' what',
 'who starred in singing in the rain and the singing nun ? ',
 ' who',
 'how do i make fuel bricks from recycled newspaper ? ',
 ' unknown',
 'what 19th-century painter died in the marquesas islands ? ',
 ' what',
 'the corpus callosum is in what part of the body ? ',
 ' what',
 'how do i log on to home page at headquarters u.s. european command ? ',
 ' unknown',
 'what country did the nazis occupy for ? . ',
 ' what',
 "what is nebraska 's most valuable resource ? ",
 ' what',
 'how many species of the great white shark are there ? ',
 ' unknown',
 'what is the origin of head lice ? ',
 ' what',
 'what is the nickname for the state of mississippi ? ',
 ' what',
 'what was the first domesticated bird ? ',
 ' what',
 'how many villi are found in the small intestine ? ',
 ' unknown',
 'what country did king wenceslas rule ? ',
 ' what',
 'what is a fear of shadows ? ',
 ' what',
 'who were the five marx brothers ? ',
 ' who',
 'in which year was new zealand excluded from the anzus alliance ? ',
 ' unknown',
 'when did cnn begin broadcasting ? ',
 ' when',
 'what causes the body to shiver in cold temperatures ? ',
 ' what',
 'what are bear and bull markets ? ',
 ' what',
 'what j.r.r. tolkien book features bilbo baggins as the central character ? ',
 ' what',
 "what is `` dew point '' ? ",
 ' what',
 'what is the meaning of jesus ? ',
 ' what',
 "what company 's logo is a `` w '' in a circle ? ",
 ' what',
 'what is the definition of a cascade ? ',
 ' what',
 'when did rococo painting and architecture flourish ? ',
 ' what',
 "what country 's national passenger rail system is called via ? ",
 ' what']

In [45]:
ques_list = parsed_data[0::2]
label_list = parsed_data[1::2]

In [50]:
import pandas as pd
combined_df = pd.DataFrame({
    'label' : label_list,
    'ques' : ques_list[:-1]
})

combined_df.head()

      label                                               ques
0   unknown  how did serfdom develop in and then leave russ...
1      what  what films featured the character popeye doyle ?
2   unknown  how can i find a list of celebrities ' real na...
3      what  what fowl grabs the spotlight after the chines...
4      what                   what is the full form of .com ?

In [51]:
  dataset =combined_df

In [52]:
dataset.shape

(1483, 2)

In [53]:
dataset['label'].isnull().sum()

0

In [58]:
import string
string.punctuation

def remove_punctuation(txt):
  txt_nopunct = "".join([c for c in txt if c not in string.punctuation])
  return txt_nopunct

dataset['ques_clean'] = dataset['ques'].apply(lambda x : remove_punctuation(x))

In [59]:
dataset.head()

      label  ...                                         ques_clean
0   unknown  ...  how did serfdom develop in and then leave russ...
1      what  ...   what films featured the character popeye doyle
2   unknown  ...  how can i find a list of celebrities  real nam...
3      what  ...  what fowl grabs the spotlight after the chines...
4      what  ...                     what is the full form of com

[5 rows x 3 columns]

In [60]:
import re
def tokenize(txt):
  tokens = re.split('\W+',txt)
  return tokens

dataset['msg_tokens'] = dataset['ques_clean'].apply(lambda x : tokenize(x.lower()))
dataset.head()

      label  ...                                         msg_tokens
0   unknown  ...  [how, did, serfdom, develop, in, and, then, le...
1      what  ...  [what, films, featured, the, character, popeye...
2   unknown  ...  [how, can, i, find, a, list, of, celebrities, ...
3      what  ...  [what, fowl, grabs, the, spotlight, after, the...
4      what  ...             [what, is, the, full, form, of, com, ]

[5 rows x 4 columns]

In [61]:
import nltk
stopwords  = nltk.corpus.stopwords.words('english')